---
import BaseLayout from "../../layouts/BaseLayout.astro";
const posts = await Astro.glob("/src/pages/blog/*.md"); // returns an array of posts that live in the /blog directory
---

<BaseLayout title="Blog" description="List of all blogs on Nexusia Z">
  <h2 class="text-5xl md:text-6xl font-display font-black text-center m-8">
    Blog
  </h2>
  <div class="flex justify-center items-center flex-col">
    {
      // Construct a list of posts using the data from the glob
      posts.map((post) => (
        <article class="border-solid border-2 rounded-xl m-4 prose-2xl border-slate-600 p-5 max-w-prose ">
          <h2 class="font-extrabold font-display m-4">{post.frontmatter.title}</h2>
          <p class="m-6 text-slate-500">{post.frontmatter.description}</p>
          <a href={post.url} class="underline text-sky-800 text-center m-8">
            Read more
          </a>
          <br />
        </article>
      ))
    }
  </div>
</BaseLayout>
