---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="text-3xl text-center mt-4">
    <h2 class="text-5xl md:text-6xl font-body font-black">Home</h2>
    <div class="prose-2xl m-4">
      <p>
        Nexusia Z is a <strong class="text-teal-200"
          >Tribe for Teenage Builders</strong
        >
      </p>
      <p>
        We like to build stuff together, and share our creations with each
        other.
      </p>
    </div>
  </main>
</BaseLayout>
