---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="text-3xl text-center mt-4">
    <h2 class="text-5xl md:text-6xl font-body font-black">Home</h2>
    <p class="m-4">TODO: Add Content</p>
  </main>
</BaseLayout>
