---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <header>
    <h1 class="text-9xl font-bold text-center m-4 font-display">Nexusia Z</h1>
  </header>
  <main class="text-3xl text-center mt-4">
    <p class="text-5xl text-emerald-700 font-bold m-3">WIP</p>
    <p>This is a work in progress. Please come back later.</p>
  </main>
</BaseLayout>
