---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Join Us">
    <main class="text-3xl text-center mt-6">
        <h2 class="text-5xl md:text-6xl font-body font-black">
          Join us
        </h2>
        <p class="m-4">
          Join our discord server at <a href="https://discord.gg/HT9JwgSb" class="underline text-sky-200">https://discord.gg/HT9JwgSb</a>
        </p>
      </main>
</BaseLayout>