---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Join Us" description="Join Nexusia Z">
    <main class="text-3xl text-center mt-6">
        <h2 class="text-5xl md:text-6xl font-display font-black">
          Join us
        </h2>
        <p class="m-4">
          Join our discord server at <a href="https://discord.gg/VmDj9YJb2V" class="underline text-sky-200">https://discord.gg/VmDj9YJb2V</a>
        </p>
      </main>
</BaseLayout>