---

---

<div class="m-4 mb-6 text-center text-slate-500">
    <p>
        &copy; 2023 Nexusia Z
    </p>
    <p>
        See 
        <a href="/t&c" class="underline text-sky-800">
            Terms and Conditions
        </a>
    </p>
</div>