---
---

<div>
  <h1 class="text-8xl md:text-9xl font-extrabold text-center m-4 font-display p-3">Nexusia <wbr/> Z</h1>

  <nav class="flex justify-center items-center">
    <ul class="inline-grid grid-flow-row md:grid-flow-col space-y-6 md:space-y-0 md:space-x-6 text-3xl font-display underline text-sky-200">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/join">Join Us</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>
</div>


