---
import '@fontsource/space-mono';
import '@fontsource/inter';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="min-h-screen bg-gradient-to-b from-slate-700 to-slate-900 text-sky-50">
    <slot />
  </body>
</html>
