---
import "@fontsource-variable/space-grotesk";
import "@fontsource/inter";
import "@fontsource/space-mono";

const { title } = Astro.props;

// Prepend the site title with the page title if it exists.
// Example: if you set the page title to "About", the site title will become "About - Nexusia Z"
// If you don't set a page title, the site title will be "Nexusia Z"
const appendedTitle = title ? `${title} - Nexusia Z` : "Nexusia Z";

import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{appendedTitle}</title>
  </head>
  <body
    class="min-h-screen bg-gradient-to-b from-slate-700 to-slate-900 text-sky-50"
  >
    <header>
      <Header />
      <slot name="header" />
    </header>
    <main>
      <slot>
        <p>No Content Provided.</p>
      </slot>
    </main>
    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
